@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&display=swap');
  * {
    font-family: 'Baloo Bhaijaan 2', cursive;
    box-sizing: border-box;
  }
  body {
    background-image: url("images/background.jpg");
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
   
  .btn-primary {
    color: #fff;
    background-color: #f89fba;
    border-color: #f89fba;
  }
  .containerFormSubmittedMessage {
    color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid whitesmoke;
  }
  .header {
    font-size: 43px;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;

    margin-top: 0px;
    margin-bottom: 30px;
    border-color: black;
    border-style: groove;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .noticia_individual {
    text-align: center;
    background-color: rgb(247, 248, 206);
    color: black;
    align-content: center;
    border-color: black;
    border-style: groove;
    border-radius: 100px;
    margin: 50px;
    padding-bottom: 15px;
    padding-top: 15px
  }